option_settings:
  aws:autoscaling:updatepolicy:rollingupdate:
    Timeout: PT5M
container_commands:
  00_pip:
    command: "pip install -r requirements-deploy.txt"
  01_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
packages:
  yum:
    perl-Image-ExifTool: []
    libjpeg-turbo-devel: []
    libpng-devel: []
    git-all: []
